@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$clr-strong-cyan: #26c0ab;
$clr-dark-cyan: #00494d;
$clr-light-cyan: #a4dbd2;
$clr-dark-grayish-cyan1: #5e7a7d;
$clr-dark-grayish-cyan2: #7f9c9f;
$clr-light-grayish-cyan1: #c5e4e7;
$clr-light-grayish-cyan2: #e9f4f6;
$clr-white: #fff;
$clr-error: #d67272;
$border-radius-element: 5px;
$border-radius-card: 20px;
$transition: all 0.25s ease-in;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', sans-serif;
  background-color: $clr-light-grayish-cyan1;
  color: $clr-dark-grayish-cyan1;
  font-weight: 700;
}

input {
  font-size: 24px;

  &[type='number'] {
    font-family: 'Space Mono', sans-serif;
    background-color: $clr-light-grayish-cyan2;
    color: $clr-dark-cyan;
    outline: none;
    border: 2px solid $clr-light-grayish-cyan2;
    font-weight: 700;
    text-align: right;
    padding: 5px 15px;
    width: 100%;
    border-radius: $border-radius-element;
    -webkit-appearance: none;

    &:active,
    &:focus {
      border: 2px solid $clr-strong-cyan;
    }
  }

  &[type='radio'] {
    position: absolute;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btn {
  font-family: 'Space Mono', sans-serif;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: $border-radius-element;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  background-color: $clr-strong-cyan;
  color: $clr-dark-cyan;
  cursor: pointer;
  transition: $transition;

  &--reset {
    margin-top: 1.5rem;
    -webkit-appearance: none;
  }

  &:hover,
  &:focus-visible {
    background-color: $clr-light-cyan;
    color: $clr-dark-cyan;
  }
}

.header {
  &__text {
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    color: $clr-dark-cyan;
  }
}

.app-container {
  background-color: $clr-white;
  border-radius: $border-radius-card;
}

.app {
  width: 85vw;
  margin: 0 auto;
  padding: 1rem 0;
}

// Form
.form {
  &__user-inputs {
    display: flex;
    flex-direction: column;

    // Selects Bill, Tip, and People container
    > * {
      position: relative;
      margin: 1rem 0;

      p {
        margin-bottom: 10px;
      }

      &.show-error::after {
        content: 'Please enter a valid number';
        position: absolute;
        bottom: -27px;
        right: 5px;
        color: $clr-error;
        font-size: 14px;
      }

      &.show-error input {
        border: 2px solid $clr-error;
      }
    }
  }

  // Bill
  &__bill {
    input {
      background-image: url('../images/icon-dollar.svg');
      background-repeat: no-repeat;
      background-position: 15px 50%;
    }
  }

  // Tip
  &__tip {
    &__options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      label {
        font-size: 24px;
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 7.5px 0;
        background-color: $clr-dark-cyan;
        border-radius: $border-radius-element;
        text-align: center;
        color: $clr-white;
        cursor: pointer;
        transition: $transition;

        &:hover {
          background-color: $clr-light-cyan;
          color: $clr-dark-cyan;
        }
      }

      // Radio buttons
      input[type='radio'] {
        opacity: 0;
        width: 0;
        height: 0;
      }

      // Custom tip
      input[type='number'] {
        &::placeholder {
          opacity: 0.667;
        }
      }

      input[type='radio']:focus + label {
        background-color: $clr-light-cyan;
        color: $clr-dark-cyan;
      }

      input[type='radio'].active:checked + label {
        background-color: $clr-strong-cyan;
        color: $clr-dark-cyan;
      }
    }
  }

  // People
  &__people {
    input {
      background-image: url('../images/icon-person.svg');
      background-repeat: no-repeat;
      background-position: 15px 50%;
    }
  }

  // Calculation Output
  &__output {
    background-color: $clr-dark-cyan;
    padding: 1.5rem;
    border-radius: $border-radius-card;
    margin: 1rem 0;

    &__item {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;

      h1 {
        color: $clr-strong-cyan;
        font-size: 2rem;
      }

      p {
        color: $clr-white;
      }

      small {
        color: $clr-dark-grayish-cyan2;
      }
    }
  }
}

@import 'media';
