@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$clr-strong-cyan: hsl(172, 67%, 45%);
$clr-dark-cyan: hsl(183, 100%, 15%);
$clr-light-cyan: hsl(170, 43%, 75%);
$clr-dark-grayish-cyan1: hsl(186, 14%, 43%);
$clr-dark-grayish-cyan2: hsl(184, 14%, 56%);
$clr-light-grayish-cyan1: hsl(185, 41%, 84%);
$clr-light-grayish-cyan2: hsl(189, 41%, 97%);
$clr-light-grayish-cyan2: hsl(189, 41%, 94%);
$clr-white: hsl(0, 0%, 100%);
$clr-error: rgb(214, 114, 114);
$border-radius: 5px;
$transition: all 0.25s ease-in;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', sans-serif;
  background-color: $clr-light-grayish-cyan1;
  color: $clr-dark-grayish-cyan1;
}

label {
  font-size: 24px;
  cursor: pointer;
}

input {
  font-size: 24px;

  &[type='number'] {
    font-family: 'Space Mono', sans-serif;
    background-color: $clr-light-grayish-cyan2;
    color: $clr-dark-cyan;
    outline: none;
    border: 2px solid $clr-light-grayish-cyan2;
    font-weight: 700;
    text-align: right;
    padding: 5px 15px;
    width: 100%;
    border-radius: $border-radius;

    &:active,
    &:focus {
      border: 2px solid $clr-strong-cyan;
    }
  }

  &[type='radio'] {
    position: absolute;
  }

  &.selected + label {
    background-color: $clr-strong-cyan;
    color: $clr-dark-cyan;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btn {
  font-family: 'Space Mono', sans-serif;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: $border-radius;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  background-color: $clr-strong-cyan;
  color: $clr-dark-cyan;
  cursor: pointer;
  transition: $transition;
  border: 3px solid $clr-strong-cyan;

  &--reset {
    margin-top: 1.5rem;
  }

  &:focus {
    background-color: $clr-dark-cyan;
    color: $clr-strong-cyan;
    border: 3px solid $clr-strong-cyan;
  }

  &:hover {
    background-color: $clr-dark-cyan;
    color: $clr-strong-cyan;
    border: 3px solid $clr-strong-cyan;
  }
}

.header {
  &__text {
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    color: $clr-dark-cyan;
  }
}

.app-container {
  background-color: $clr-white;
  border-radius: 20px 20px 0 0;
}

.app {
  width: 85vw;
  margin: 0 auto;
  padding: 1rem 0;
}

.form {
  font-weight: 700;

  &__user-inputs {
    display: flex;
    flex-direction: column;

    > * {
      margin: 1rem 0;

      p {
        margin-bottom: 10px;
      }
    }
  }

  &__bill {
    position: relative;

    input {
      background-image: url('../images/icon-dollar.svg');
      background-repeat: no-repeat;
      background-position: 15px 50%;
    }

    &.show-error::after {
      content: 'Please enter a valid number';
      position: absolute;
      bottom: -27px;
      right: 5px;
      color: $clr-error;
      font-size: 14px;
    }

    &.show-error input {
      border: 2px solid $clr-error;
    }
  }

  &__tip {
    position: relative;

    &__options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      label {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 7.5px 0;
        background-color: $clr-dark-cyan;
        border-radius: $border-radius;
        text-align: center;
        color: $clr-white;
        cursor: pointer;
        transition: $transition;

        &:hover {
          background-color: $clr-light-cyan;
          color: $clr-dark-cyan;
        }

        &.selected {
          background-color: $clr-strong-cyan;
          color: $clr-dark-cyan;
        }
      }

      input:not([type='number']) {
        // display: none;
        opacity: 0;
        // width: 0;
        // height: 0;
      }

      input[type='number'] {
        &::placeholder {
          opacity: 0.667;
        }
      }

      input[type='radio']:focus + label {
        background-color: $clr-light-cyan;
        color: $clr-dark-cyan;
      }
    }

    &.show-error::after {
      content: 'Please enter a valid number';
      position: absolute;
      bottom: -27px;
      right: 5px;
      color: $clr-error;
      font-size: 14px;
    }

    &.show-error input {
      border: 2px solid $clr-error;
    }
  }

  &__people {
    position: relative;

    input {
      background-image: url('../images/icon-person.svg');
      background-repeat: no-repeat;
      background-position: 15px 50%;
    }

    &.show-error::after {
      content: 'Please enter a valid number';
      position: absolute;
      bottom: -27px;
      right: 5px;
      color: $clr-error;
      font-size: 14px;
    }

    &.show-error input {
      border: 2px solid $clr-error;
    }
  }

  &__output {
    background-color: $clr-dark-cyan;
    padding: 1.5rem;
    border-radius: 20px;
    margin: 1rem 0;

    &__item {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;

      h1 {
        color: $clr-strong-cyan;
        font-size: 2rem;
      }

      p {
        color: $clr-white;
        font-weight: 700;
      }

      small {
        color: $clr-dark-grayish-cyan2;
        font-weight: 700;
      }
    }
  }
}
